<div bg-dark>
    <div class="row g-0 justify-content-center pt-lg-5 pb-lg-5">
        <div class="bg-light col-lg-8 d-flex flex-column align-items-center">
            <div class="pt-lg-4 pb-lg-0 p-4 w-100 mb-auto">
                <img src="https://etb.com/ResourcesCentrosExp/img/icons/logo_etb_azul.png" class="img-fluid">
            </div>
            <div class="px-lp-5 py-lg-4 p-5 w-100 align-self-center">
                <h1 class="mb-4 w-100 text-center fw-bold">Nuevo Hallazgo</h1>
                
                <form>
                    <div class="mb-5">
                      <label for="exampleInputEmail1" class="form-label fw-bold">ID</label>
                      <input type="email" class="form-control" placeholder="..." id="exampleInputEmail1" readonly>
                    </div>
                    <div class="mb-5">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Fecha</label>
                        <input type="date" class="form-control mb-2" placeholder="Ingresa la fecha del hallazgo" id="exampleInputPassword1" readonly>
                    </div>
                    <div class="mb-5">
                        <label for="exampleInputEmail1" class="form-label fw-bold">Usuario</label>
                        <input type="text" class="form-control" placeholder="Ingresa tu usuario" id="exampleInputEmail1">
                    </div>
                    <div class="mb-5">
                        <label for="state_id" class="control-label fw-bold">Central o Nodo</label>
                        <select class="form-control" id="state_id">
                            <option selected>...</option>
                            <option value="BA">Bachué</option>
                            <option value="AU">Autopista</option>
                            <option value="AC">Av. Chile</option>
                            <option value="BO">Bochica</option>
                            <option value="BS">Bosa</option>
                            <option value="CO">Centro</option>
                            <option value="CP">Chapinero</option>
                            <option value="CH">Chía</option>
                            <option value="CC">Chicó</option>
                            <option value="CR">Cruces</option>
                            <option value="CU">Cuni</option>
                            <option value="FO">Fontibón</option>
                            <option value="GB">Graham Bell</option>
                            <option value="GM">Guaymaral</option>
                            <option value="HL">Holanda</option>
                            <option value="KN">Kénnedy</option>
                            <option value="MZ">Mazú</option>
                            <option value="NZ">Niza</option>
                            <option value="ND">Normandía</option>
                            <option value="OY">Olaya</option>
                            <option value="PA">Pte Aranda</option>
                            <option value="RT">Ricaurte</option>
                            <option value="ST">Salitre</option>
                            <option value="SC">San Carlos</option>
                            <option value="SF">San Fernando</option>
                            <option value="SJ">San José</option>
                            <option value="SO">Soacha</option>
                            <option value="SH">Sta Helenita</option>
                            <option value="SB">Sta Bárbara</option>
                            <option value="SU">Suba</option>
                            <option value="TS">Teusaquillo</option>
                            <option value="TB">Tibabuyes</option>
                            <option value="TR">Toberín</option>
                            <option value="YM">Yomasa</option>
                            <option value="ZF">Zona Franca</option>
                        </select>                    
                    </div>
                    <div class="mb-5">
                        <label for="exampleInputEmail1" class="form-label fw-bold">Ubicación</label>
                        <input type="text" class="form-control" placeholder="Lugar del hallazgo" id="exampleInputEmail1">
                    </div>
                    <div class="mb-5">
                        <label for="exampleInputEmail1" class="form-label fw-bold">Descripción</label>
                        <input type="text" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-5">
                        <label for="exampleInputEmail1" class="form-label fw-bold">Tipo de hallazgo</label>
                        <input type="text" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-5">
                        <label for="exampleFormControlFile1" class="form-label fw-bold">Foto</label>
                        <input type="file" class="form-control-file w-100" id="exampleFormControlFile1">
                      </div>
                    <div class="text-center">
                        <a routerLink="/PagPrincipal" class="btn btn-primary p-3 m-2">Volver</a>
                        <a routerLink="/" class="btn btn-primary p-3 m-2">Agregar</a>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
