<div class="row g-0 justify-content-center align-items-center vh-100">
    <div class="px-lg-5 pt-lg-3 pb-lg-0 p-4 mb-auto">
      <img src="https://etb.com/ResourcesCentrosExp/img/icons/logo_etb_azul.png" class="logo">
    </div>
  
    <div class="col-sm-4 text-center">
        <img src="../../../assets/imagenEtb.png" class="img-fluid">
        
        <div class="mt-5 p-4">
          <select class="form-select">
            <option selected>App</option>
            <option value="Gestión de Hallazgos">Gestión de Hallazgos</option>
          </select>
        </div>
  
        <div class="text-decoration-none d-flex">
          <a routerLink="/login" class="btn btn-primary btn-lg w-100 mt-1">Ingresar</a>
        </div>
    </div>
  </div>  