/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 250;
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.75)), url(https://www.semana.com/resizer/K2XBSEVyDb9Pdt_RjIeHhoP8fqc=/arc-anglerfish-arc2-prod-semana/public/EUZIKALW7RBGVF4UQ74JMF3UG4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
