/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 250;
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.75)), url(https://www.semana.com/resizer/K2XBSEVyDb9Pdt_RjIeHhoP8fqc=/arc-anglerfish-arc2-prod-semana/public/EUZIKALW7RBGVF4UQ74JMF3UG4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
}

.card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
}

.card-body {
    padding: 1rem 1.5rem; 
}
